.header__link{
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    color: #A9A9A9;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.header__link:hover {
    opacity: 0.6;
}