.form__register-link{
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.form__register-link:hover {
    opacity: 0.6;
}